################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day 4/AuthProject/Controllers/AdminController.cs
